<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>


    <table border="1">
        <thead>
            <tr>
                <th>title</th>
                <th>content</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
            <tr>
                <td><%= item.title %> </td>
                <td><%= item.content %> </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</body>

</html>