<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="root" v-html="html">
        {{ html }}
    </div>
</body>

<script>
    let a = 1;

    console.log(1)
    new Vue({
        el: ".root",
        data: () => ({
            html: `<h1>hello world</h1>`
        })
    })
</script>


</html>